<section class="section light-green lighten-4">
  <div class="container-fluid">
    <div class="row text-blue py-4">
      <div class="col-md-12 text-center px-3">
        <h3 class="h3 blockquote">Client Satisfaction</h3>
        <p class="blockquote">We offer convinience hassle-free way to book safari or social event package and gurantee unforgetable experience.</p>
      </div>

    </div>
    <div class="row py-4">
      <div class="col-md-12 text-center">
        <h2 class="h2">How It Works</h2>
      </div>
      <div class="col-md-12 row flex-row justify-content-around px-3">
        <div class="col-md-3">
          <h5 class="h5">Diverse Package Selection</h5>
          <p>Unique itineraries in the world’s best destinations, from old favourites to under-the-radar hotspots.</p>
        </div>
        <div class="col-md-3">
          <h5 class="h5">Diverse Package Selection</h5>
          <p>Unique itineraries in the world’s best destinations, from old favourites to under-the-radar hotspots.</p>
        </div>
        <div class="col-md-3">
          <h5 class="h5">Diverse Package Selection</h5>
          <p>Unique itineraries in the world’s best destinations, from old favourites to under-the-radar hotspots.</p>
        </div>
        <div class="col-md-3">
          <h5 class="h5">Diverse Package Selection</h5>
          <p>Unique itineraries in the world’s best destinations, from old favourites to under-the-radar hotspots.</p>
        </div>

      </div>
    </div>
    <div class="row py-4">
        <div class="col-md-12">
          <h2 class="h2">We Accept this payment modes</h2>
        </div>
        <div class="col-md-12 row flex-row justify-content-around px-3">
          <div class="col-md-4">
            <div class="h5"><img class="img-fluid" src="/assets/img/package/mpesa.png" alt="MPESA" height="50" width="100"/></div>
            <p>PAYBILL no. 000000</p>
          </div>
          <div class="col-md-4">
            <div class="h5"><img src="/assets/img/package/airtel.png" alt="AIRTEL MONEY" height="40" width="40" /></div>
            <p>Account no. 000000</p>
          </div>
          <div class="col-md-4">
            <div class="h5"><img src="" alt="CREDIT/DEBIT CARD" /></div>
            <p>VISA MASTERCARD ETC.</p>
          </div>
        </div>
    </div>
  </div>
</section>