<!-- ========= Start Popular Place Area========= -->
<section class="popular-place mt-3">
    <div class="container-fluid">
      <h2>POPULAR PACKAGES</h2>
      <div class="row justify-content-center">
          <div class="col-lg-2 col-md-2 card pp-list-item p-0">
            <div class="single-pp ">
              <div class="single-pp-thumb card-img">
                <img class="img-fluid" src="assets/img/package/img-paris-2.jpg" alt="popular image">
              </div>
              <div class="pp-wrapper-content card-footer">
                <div class="popular-pp-info">
                  <a href="#">
                    <h5>Louvre Museum France</h5>
                  </a>
                  <p>Malindi, Kilifi & Mombasa, 5 Days, 4 Night Tour</p>
                  <div class="package-meta">
                    <span>
                      <i class="icofont icofont-ui-rating"></i>20</span>
                    <span class="text-red">
                      <i class="fa fa-heart "></i>10</span>
                    <span class="text-green">
                      <i class="fa fa-comment"></i>5</span>
                  </div>
                </div>
                <div class="popular-p-pricing">
                  <a class="btn-1 pp-btn" href="#">Book now </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 card pp-list-item p-0">
            <div class="single-pp ">
              <div class="single-pp-thumb card-img">
                <img class="img-fluid" src="assets/img/package/img-paris-2.jpg" alt="popular image">
              </div>
              <div class="pp-wrapper-content card-footer">
                <div class="popular-pp-info">
                  <a href="#">
                    <h5>Louvre Museum France</h5>
                  </a>
                  <p>Malindi, Kilifi & Mombasa, 5 Days, 4 Night Tour</p>
                  <div class="package-meta">
                    <span>
                      <i class="icofont icofont-ui-rating"></i>20</span>
                    <span class="text-red">
                      <i class="fa fa-heart "></i>10</span>
                    <span class="text-green">
                      <i class="fa fa-comment"></i>5</span>
                  </div>
                </div>
                <div class="popular-p-pricing">
                  <a class="btn-1 pp-btn" href="#">Book now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 card pp-list-item p-0">
            <div class="single-pp ">
              <div class="single-pp-thumb card-img">
                <img class="img-fluid" src="assets/img/package/img-paris-2.jpg" alt="popular image">
              </div>
              <div class="pp-wrapper-content card-footer">
                <div class="popular-pp-info">
                  <a href="#">
                    <h5>Louvre Museum France</h5>
                  </a>
                  <p>Malindi, Kilifi & Mombasa, 5 Days, 4 Night Tour</p>
                  <div class="package-meta">
                    <span>
                      <i class="icofont icofont-ui-rating"></i>20</span>
                    <span class="text-red">
                      <i class="fa fa-heart "></i>10</span>
                    <span class="text-green">
                      <i class="fa fa-comment"></i>5</span>
                  </div>
                </div>
                <div class="popular-p-pricing">
                  <a class="btn-1 pp-btn" href="#">Book now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 card pp-list-item p-0">
            <div class="single-pp ">
              <div class="single-pp-thumb card-img">
                <img class="img-fluid" src="assets/img/package/img-paris-2.jpg" alt="popular image">
              </div>
              <div class="pp-wrapper-content card-footer">
                <div class="popular-pp-info">
                  <a href="#">
                    <h5>Louvre Museum France</h5>
                  </a>
                  <p>Malindi, Kilifi & Mombasa, 5 Days, 4 Night Tour</p>
                  <div class="package-meta">
                    <span>
                      <i class="icofont icofont-ui-rating"></i>20</span>
                    <span class="text-red">
                      <i class="fa fa-heart "></i>10</span>
                    <span class="text-green">
                      <i class="fa fa-comment"></i>5</span>
                  </div>
                </div>
                <div class="popular-p-pricing">
                  <a class="btn-1 pp-btn" href="#">Book now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 card pp-list-item p-0">
            <div class="single-pp ">
              <div class="single-pp-thumb card-img">
                <img class="img-fluid" src="assets/img/package/img-paris-2.jpg" alt="popular image">
              </div>
              <div class="pp-wrapper-content card-footer">
                <div class="popular-pp-info">
                  <a href="#">
                    <h5>Louvre Museum France</h5>
                  </a>
                  <p>Malindi, Kilifi & Mombasa, 5 Days, 4 Night Tour</p>
                  <div class="package-meta">
                    <span>
                      <i class="icofont icofont-ui-rating"></i>20</span>
                    <span class="text-red">
                      <i class="fa fa-heart "></i>10</span>
                    <span class="text-green">
                      <i class="fa fa-comment"></i>5</span>
                  </div>
                </div>
                <div class="popular-p-pricing">
                  <a class="btn-1 pp-btn" href="#">Book now</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <app-pagination [allItems]="packages"></app-pagination>
    </div>
  </section>