<!-- ========= Start Gallery Area========= -->
<section class="gallery-area ptb-118">
    <div class="container-fluid no-padding">
      <div class="gallery-active owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage" style="transition: all 0s ease 0s; width: 4515px; transform: translate3d(-868px, 0px, 0px);">
            <div class="owl-item cloned" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/img-paris-2.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>April 10, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/img-sydney.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>March 30, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/img-tokyo.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>July 30, 2017</h6>
                </div>
              </div>
            </div>
            <div class="owl-item cloned active" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/img-paris.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>June 20, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item active center" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/img-bali.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>June 20, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/img-savanna.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>April 10, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/img-venice.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>March 30, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/gallery-2.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>July 30, 2017</h6>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/gallery-1.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>June 20, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/gallery-1.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>June 20, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/gallery-2.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>April 10, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/gallery-3.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>March 30, 2017</h6>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
                <div class="gallary-video">
                  <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play video-btn mfp-iframe">
                    <i class="icofont icofont-ui-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 307.25px; margin-right: 40px;">
              <div class="single-gallery-item">
                <img src="assets/img/gallery/gallery-2.jpg" alt="gallery-image">
                <div class="gallery-info">
                  <a href="#">
                    <h4>David Buin</h4>
                  </a>
                  <h6>July 30, 2017</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav">
          <div class="owl-prev">
            <i class="fa fa-angle-left"></i>
          </div>
          <div class="owl-next">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
        <div class="owl-dots disabled"></div>
      </div>
    </div>
  </section>
  