<!-- ========= Start Blog Area========= -->
<section class="blog-area mt-3 pt-2">
    <div class="container">
      <h2>Memorable moments</h2>
      <div class="section-devider pb-80">
        <div class="row">
          <div class="col-lg-4">
            <div class="single-blog-post mb-30">
              <a href="#">
                <img src="assets/img/blog/prague.jpg" alt="blog-image">
              </a>
              <div class="single-blog-content">
                <span class="blog-date">10 July 2017</span>
                <a href="#">
                  <h4>What's Open in the Caribbean After Hurricanes Irma and Maria</h4>
                </a>
                <a class="read-more blog-btn" href="#">READ MORE
                  <i class="icofont icofont-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-blog-post mb-30">
              <a href="#">
                <img src="assets/img/blog/saint-petersburg.jpg" alt="blog-image">
              </a>
              <div class="single-blog-content">
                <span class="blog-date">20 June 2017 </span>
                <a href="#">
                  <h4>First New louvre of the New Year: the Seabourn museum</h4>
                </a>
                <a class="read-more blog-btn" href="#">READ MORE
                  <i class="icofont icofont-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-blog-post mb-30">
              <a href="#">
                <img src="assets/img/blog/amsterdam.jpg" alt="blog-image">
              </a>
              <div class="single-blog-content">
                <span class="blog-date">10 May 2017 </span>
                <a href="#">
                  <h4>Avalon Southeast Asia: A World of Difference site</h4>
                </a>
                <a class="read-more blog-btn" href="#">READ MORE
                  <i class="icofont icofont-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>