<header class="header-area fixed-top navbar-dark">
  <div class="container-fluid  ">

    <div class="header-top separator d-none d-md-block">
      <div class="row justify-content-between px-4" style="max-height: 70px;">

        <div class="d-sm-flex flex-row justify-content-between logo mx-2 mr-auto">

          <button class="navbar-toggler" type="button" data-toggle="collapse" item-height="70" data-target="#navbarJungleRoots" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon ">
              <i class="fa fa-hamburger blue"></i>
            </span>
          </button>
          <a id="menu-toggle" type="button" class="navbar-brand pb-0 mr-2 mt-0" href="#">
            <img class="logo" src="/assets/img/logo.png" height="70" width="200" alt="JungleRootsAdventure">
          </a>

        </div>

        <div class="ml-auto">
          <div class="header-social-icon d-flex">
            <ul class="list-unstyled ml-auto">
              <li class="text-center">
                <a href="#">
                  <span><img class="img-fluid" src="/assets/img/social/facebook.png" height="32" width="32" /></span>
                </a>
              </li>
              <li class="text-center">
                <a href="#">
                  <span><img class="img-fluid" src="/assets/img/social/twitter.png" height="32" width="32" /></span>
                </a>
              </li>
              <li class="text-center">
                <a href="#">
                  <span><img class="img-fluid" src="/assets/img/social/tube.png" height="32" width="32" /></span>
                </a>
              </li>
              <li class="dropdown text-center" dropdown>
                <button dropdownToggle id="menu-toggle" class="navbar-toggler z-depth-0 pull-right" type="button" data-toggle="dropdown"
                  data-hover="dropdown" data-delay="0" data-dropdown-in="slideIn" data-dropdown-out="slideOut" aria-haspopup="true"
                  aria-expanded="false">
                  <span>
                    <i class="fa fa-navicon"></i>
                  </span>
                </button>
                <div class="dropdown-menu row shadow">
                  <div class="d-flex flex-row ">
                    <ul class="list-unstyled">
                      <li class="m-1 w-100">
                        <a>Sign In</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </li>
              <!-- Collapse button -->
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="d-md-flex flex-row orange">

    <div class="basic-menu ">
      <nav id="mobile-menu" class="main-menu navbar navbar-expand-md z-depth-0 " style="height: 50px;">
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarJungleRoots">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME
                <span class="sr-only">(current)</span>
              </a>
              <ul class="list-unstyled">
                <li>
                  <a href="index.html">Home Style 1</a>
                </li>
                <li>
                  <a href="index-2.html">Home Style 2</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="tour-packages">TOUR PACKAGES</a>
              <ul class="list-unstyled">
                <li>
                  <a href="package-3-col.html"> Package 3 Column</a>
                </li>
                <li>
                  <a href="package-grid.html">Package Grid</a>
                </li>
                <li>
                  <a href="package-list.html"> Package List</a>
                </li>
                <li>
                  <a href="package-details.html"> Package Details</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FLIGHT BOOKING</a>
              <ul class="list-unstyled">
                <li>
                  <a href="package-3-col.html">Airport Transfer</a>
                </li>
                <li>
                  <a href="package-3-col.html">Air/SGR Tickets</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CAR HIRE</a>
              <ul class="list-unstyled">
                <li>
                  <a href="package-3-col.html">School Trips</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">EVENTS</a>
              <ul class="list-unstyled">
                <li>
                  <a href="package-3-col.html">Mountain Climbing</a>
                </li>
                <li>
                  <a href="package-grid.html">Honeymoon package</a>
                </li>
                <li>
                  <a href="package-list.html">Camping & Lodge Safari</a>
                </li>
                <li>
                  <a href="package-details.html">Nature Wedding</a>
                </li>
                <li>
                  <a href="package-details.html">Nature Walk</a>
                </li>
                <li>
                  <a href="package-details.html">Excursion</a>
                </li>
                <li>
                  <a href="package-details.html">Birds Watching & Events</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT US</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>

  </div>

</header>
<!-- End Header Area -->