<!-- ========= Start Booking Area========= -->
<div class="booking-area">
  <div class="container">
    <div class="card booking-option">
      <!-- <div class="top-bar-option">
        <div class="top-button s-btn">
          search now
        </div>
        <div class="top-button theme-bg">
          <div class="top-button-inner icon-none">
            <img src="img/icon/hotel-icon.png" alt="">
            <select name="location" id="hotel" style="display: none;">
              <option value="Dhaka">HOTEL</option>
              <option value="Rajshahi">Rajshahi</option>
              <option value="Chitagong">Chitagong</option>
              <option value="SKhulna">SKhulna</option>
            </select>
            <div class="nice-select" tabindex="0">
              <span class="current">HOTEL</span>
              <ul class="list">
                <li data-value="Dhaka" class="option selected">HOTEL</li>
                <li data-value="Rajshahi" class="option">Rajshahi</li>
                <li data-value="Chitagong" class="option">Chitagong</li>
                <li data-value="SKhulna" class="option">SKhulna</li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      <div class="card-body form-action form-action-one">
        <ul class="select-bar">
          <li class="location">
            <select name="location" class="location-here" style="display: none;">
              <!-- <option value="Dhaka">Location </option>
              <option value="Rajshahi">Rajshahi</option>
              <option value="Chitagong">Chitagong</option>
              <option value="SKhulna">SKhulna</option> -->
            </select>
            <div class="nice-select location-here" tabindex="0">
              <span class="current">Location </span>
              <!-- <ul class="list">
                <li data-value="Dhaka" class="option selected">Location </li>
                <li data-value="Rajshahi" class="option">Rajshahi</li>
                <li data-value="Chitagong" class="option">Chitagong</li>
                <li data-value="SKhulna" class="option">SKhulna</li>
              </ul> -->
            </div>
          </li>
          <li class="location">
            <form class="icon" action="#">
              <input class="datepicker hasDatepicker" placeholder="Check in" id="dp1539510913738" type="text">
            </form>
          </li>
          <li class="location">
            <form class="icon" action="#">
              <input class="datepicker hasDatepicker" placeholder="Checkout" id="dp1539510913739" type="text">
            </form>
          </li>
          <li class="location">
            <select name="location" class="location-here" style="display: none;">
              <!-- <option value="Dhaka">Room</option>
              <option value="Rajshahi">Single</option>
              <option value="Chitagong">Double</option>
              <option value="SKhulna">Double</option> -->
            </select>
            <div class="nice-select location-here" tabindex="0">
              <span class="current">Room</span>
              <!-- <ul class="list">
                <li data-value="Dhaka" class="option selected">Room</li>
                <li data-value="Rajshahi" class="option">Single</li>
                <li data-value="Chitagong" class="option">Double</li>
                <li data-value="SKhulna" class="option">Double</li>
              </ul> -->
            </div>
          </li>
          <li class="location">
            <select name="location" class="location-here member" style="display: none;">
              <!-- <option value="Dhaka">Member</option>
              <option value="Rajshahi">1 Person</option>
              <option value="Chitagong">2 Person</option>
              <option value="SKhulna">3 Person</option> -->
            </select>
            <div class="nice-select location-here member" tabindex="0">
              <span class="current">Member</span>
              <!-- <ul class="list">
                <li data-value="Dhaka" class="option selected">Member</li>
                <li data-value="Rajshahi" class="option">1 Person</li>
                <li data-value="Chitagong" class="option">2 Person</li>
                <li data-value="SKhulna" class="option">3 Person</li>
              </ul> -->
            </div>
          </li>
        </ul>
        <div class="filter-part">
          <div class="range-wrapper">
            <div class="range-input">
              <input id="amount" readonly="" style="border:0; color:#f6931f; font-weight:bold;" type="text">
            </div>
            <label for="amount">Budget Now :</label>
            <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
              <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 45%;"></div>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15%;"></span>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 60%;"></span>
            </div>
          </div>
          <div class="filter-button">
            <button type="submit">SEARCH</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>